body{text-align:center;background-color:black;color:white;font-family: "Lucida Console", "Courier New", monospace;}
main #title{font-weight:bolder;font-size:5rem;margin-bottom:0;}

#img-div{align-items:center;}
#image{max-width:100%;height:auto;display:block;margin: 0 auto;}